<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" href="styles/main.css">
    <title>とっぷ | Okada's mypage</title>
  </head>
  <body>
    <header><a href="">あいうえおch.</a>
      <details>
        <summary>Members Link</summary>
        <nav>
          <ul>
            <li><a href="https://nogak.github.io/mypage/">Nogami's Room</a></li>
            <li><a href="https://oono10.github.io/mypage/">Oono's Room</a></li>
          </ul>
        </nav>
      </details>
    </header>
    <main>
      <nav><span>とっぷ</span>
      </nav>
      <article>
      </article>
    </main>
    <footer>
    </footer>
  </body>
</html>